<h1><%= @figure.name %></h1>
<form action="/figures" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Name: </label>
  <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name"><br>

  <label>Titles: </label>
  <% Title.all.each do |title| %>
    <%= title.name %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="<%= title.id %>"
    <%= 'checked' if @figure.titles.include?(title) %>>
  <% end %><br>

  <label>and/or create new title: </label>
  <input type="text" name="title[name]" id="new_title"><br>

  <label>Landmarks: </label>
  <% Landmark.all.each do |landmark| %>
    <%= landmark.name %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.id %>"
    <%= 'checked' if @figure.landmarks.include?(landmark) %>>
  <% end %><br>

  <label>and/or create new landmark: </label>
  Name:
  <input type="text" name="landmark[name]" id="new_landmark">
  Year:
  <input type="text" name="landmark[year_completed]" id="new_year">

  <input type="submit" value="Edit Figure">

</form>
